:root {
  --clr-background: rgba(255, 251, 246, 0.539);
  --clr-gry: rgb(239, 236, 236);
  --clr-primary-text: #0e131f;
  --clr-theme: #91768a;
  --clr-theme-hover: #3b3f56;
  --clr-sidebar-background: #57685c;
  --clr-link: #dbb78d;
  --clr-link-active: #91768a;
  --clr-link-hover: #be7f4f;
  --clr-header: #91768a;
  --clr-card-background: #dbb78d11;
  --clr-card-border: #57685c5f;

  /* border radius */
  --border-radius: 0.4rem;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: eloquia;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  flex: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-sidebar-background);
  color: white;
}

input {
  width: 100%;
  text-align: start;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 12px 20px;
  margin: 8px 0px;
  box-shadow: none;
  border: rgba(75, 98, 76, 0.305) solid 2px;
  font-family: eloquia;
}
h1 {
  color: var(--clr-header);
  font-size: 6rem;
  font-family: Eloquia;
  margin: -5px;
}

input:focus {
  background-color: rgba(240, 214, 248, 0.11);
}
a {
  color: var(--clr-link);
  text-decoration: none;
  padding: 0px;
  font-size: 15px;
  transition: all 200ms ease-in;
}
a:hover {
  color: var(--clr-link-hover);
}
.button {
  background-color: var(--clr-theme);
  border-radius: var(--border-radius);
  border: none;
  font-size: 16px;
  font-family: eloquia;
  color: white;
  padding: 8px 14px;
  transition: all 200ms ease-in;
}
.button:hover {
  background-color: var(--clr-theme-hover);
}
.view {
  display: flex;
  flex-direction: column;

  /* background: url(../img/climb3.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

.footer-text {
  font-size: small;
  padding: 0 0.5rem;
}

.nav-list {
  margin: 0;
  padding: 0.75rem 0;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: end;
  align-items: center;
}

.nav-item {
  list-style: none;
  margin-right: 2rem;
}

.nav-item a {
  text-decoration: none;
  color: black;
  transition: all 200ms ease-in;
}

.nav-item:nth-child(1) {
  margin-right: auto;
  margin-left: 2rem;
}

@font-face {
  font-family: Eloquia;
  src: url(../fonts/eloquia.otf);
}

.hide {
  display: none;
}

.mtn {
  color: var(--clr-link);
}

.subtext {
  color: #cfafc6;
}

.info {
  margin-top: 0.5rem;
  font-family: Overpass;
}

@font-face {
  font-family: Overpass;
  src: url(../fonts/overpass.ttf);
}

.warning {
  display: none;
  color: red;
  font-family: Overpass;
}
