:root {
  --clr-background: rgba(255, 251, 246, 0.539);
  --clr-gry: rgb(239, 236, 236);
  --clr-primary-text: #0e131f;
  --clr-theme: #91768a;
  --clr-theme-hover: #3b3f56;
  --clr-sidebar-background: #57685c;
  --clr-link: #dbb78d;
  --clr-link-active: #91768a;
  --clr-link-hover: #be7f4f;
  --clr-header: #91768a;
  --clr-card-background: #dbb78d11;
  --clr-card-border: #57685c5f;

  /* border radius */
  --border-radius: 0.4rem;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  /* border: red 1px solid; */
}

body {
  font-family: Eloquia;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  color: var(--clr-header);
  font-size: 4rem;
  font-family: Eloquia;
  margin: -5px;
}

.view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main {
  flex: 1;
}

form {
  margin: 2rem;
}
input {
  display: block;
  width: 100%;
  text-align: start;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 12px 20px;
  margin: 8px 0px;
  box-shadow: none;
  border: rgba(75, 98, 76, 0.305) solid 2px;
  font-family: eloquia;
}
a {
  color: var(--clr-link);
  text-decoration: none;
  padding: 0px;
  font-size: 15px;
  transition: all 200ms ease-in;
}
a:hover {
  color: var(--clr-link-hover);
}
.button {
  background-color: var(--clr-theme);
  border-radius: var(--border-radius);
  border: none;
  font-size: 16px;
  font-family: eloquia;
  color: white;
  padding: 8px 14px;
  transition: all 200ms ease-in;
}
.button:hover {
  background-color: var(--clr-theme-hover);
}
.info {
  margin-top: 0.5rem;
  font-family: Overpass;
}

.footer {
  flex: 0;
}
@font-face {
  font-family: Overpass;
  src: url(../fonts/overpass.ttf);
}

@font-face {
  font-family: Eloquia;
  src: url(../fonts/eloquia.otf);
}
