:root {
  /* color variables */
  --clr-background: rgba(255, 251, 246, 0.539);
  --clr-gry: rgb(239, 236, 236);
  --clr-primary-text: #0e131f;
  --clr-theme: #91768a;
  --clr-theme-hover: #3b3f56;
  --clr-sidebar-background: #57685c;
  --clr-link: #dbb78d;
  --clr-link-active: #91768a;
  --clr-link-hover: #9d5824;
  --clr-header: #91768a;
  --clr-subtext: #cfafc6;
  --clr-card-background: #dbb78d11;
  --clr-card-border: #57685c5f;

  /* border radius */
  --border-radius: 0.4rem;
}

/* original color variables */
/* --clr-background: rgb(255, 255, 255);
  --clr-gry: rgb(239, 236, 236);
  --clr-primary-text: black;
  --clr-theme: #37718e;
  --clr-theme-hover: #48a2cf;
  --clr-sidebar-background: #37718ee1;
  --clr-link: rgb(236, 166, 75);
  --clr-link-hover: rgb(221, 114, 82);
  --clr-header: rgb(208, 95, 95); */

*,
*:before,
*:after {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: eloquia;
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: var(--clr-primary-text);
  background-color: var(--clr-background);
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem;
  min-height: calc(100vh - 90px);
}

footer {
  flex: 0 30px;
  height: 30px;
  background-color: var(--clr-background);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-theme);
  font-size: small;
}
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}
a {
  color: var(--clr-link);
  text-decoration: none;
  padding: 0px;
  font-size: 15px;
  transition: all 300ms;
}
a:hover {
  color: var(--clr-link-hover);
}

progress {
  border-radius: 7px;
  width: 100%;
  height: 15px;
  border: rgb(226, 221, 221) solid thin;
}
progress::-webkit-progress-bar {
  background-color: rgb(255, 255, 255);
  border-radius: 7px;
}
progress::-webkit-progress-value {
  background-color: var(--clr-header);
  border-radius: 7px;
  border: rgb(200, 198, 198) solid thin;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
input[type="checkbox"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}
.form-control {
  font-size: 1rem;
  font-family: Overpass;
  font-weight: 500;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}
.form-control + .form-control {
  margin-top: 1em;
}

.form li {
  margin: 2rem 0;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--clr-theme);
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 12rem;
}
/***** Track Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-runnable-track {
  background: var(--clr-card-border);
  height: 0.4rem;
}
/***** Thumb Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -11px; /* Centers thumb on the track */
  border-radius: 20px;
  background-color: var(--clr-theme);
  height: 1.75rem;
  width: 1rem;
}

/******** Firefox ********/
input[type="range"]::-moz-range-track {
  background: var(--clr-card-border);
  height: 0.5rem;
}
/***** Thumb Styles *****/
/***** Firefox *****/
input[type="range"]::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0; /*Removes default border-radius that FF applies*/
  background-color: #5cd5eb;
  height: 2rem;
  width: 1rem;
}

input[type="text"] {
  background-color: white;
  width: 100%;
  border-radius: var(--border-radius);
  padding: 5px 10px;
}

input[type="number"] {
  padding: 0 2px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 13rem;
  background-color: rgb(255, 255, 255);
  color: #000000;
  text-align: center;
  padding: 8px 5px;
  border-radius: 6px;
  border: solid black thin;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  color: grey;
}

.wk-details li {
  margin-left: 1.58rem;
  font-family: Overpass;
}
.sidebar {
  width: 345px;
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  background-color: var(--clr-sidebar-background);
  transition: margin-right 300ms;
}

.sidebar-brand {
  height: 80px;
  padding: 1rem 0rem 1rem 2rem;
  color: white;
  transition: all 300ms;
}

.sidebar-brand span {
  display: inline-block;
  padding-right: 1rem;
}

.sidebar-menu li {
  width: 100%;
  margin-bottom: 1.3rem;
  padding-left: 1rem;
}

.sidebar-menu a {
  padding-left: 1rem;
  display: block;
  color: var(--clr-link);
  font-size: 1.1rem;
}

.sidebar-menu a.active {
  background-color: rgb(255, 255, 255);
  color: var(--clr-link-active);
  border-radius: 30px 0 0 30px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.sidebar-menu a span:first-child {
  font-size: 1.3rem;
  padding-right: 1rem;
}

#nav-toggle:checked + .sidebar {
  width: 70px;
}

#nav-toggle:checked + .sidebar .sidebar-brand,
#nav-toggle:checked + .sidebar li {
  padding-left: 1rem;
  text-align: center;
}

#nav-toggle:checked + .sidebar li a {
  padding-left: 0rem;
}

#nav-toggle:checked + .sidebar .sidebar-brand h2 span:last-child,
#nav-toggle:checked + .sidebar li a span:last-child {
  display: none;
}

#nav-toggle:checked ~ .main-content {
  margin-left: 70px;
}

#nav-toggle:checked ~ .main-content {
  width: calc(100% - 70px);
  left: 70px;
}

#nav-toggle:checked ~ .nav-list {
  left: 70px;
}
.main-content {
  transition: margin-left 300ms;
  margin-left: 345px;
}

.card-single {
  display: flex;
  justify-content: space-between;
  background-color: var(--clr-card-background);
  padding: 2rem;
  margin: 0.5rem;
  border-radius: var(--border-radius);
  border-left: var(--clr-card-border) solid 30px;
  border-right: var(--clr-card-border) solid 30px;
}

.card-single--progress {
  flex-direction: row;
  justify-content: center space-between;
}

.card-single--workout {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-single h1 {
  color: var(--clr-header);
}

.card-single--workout span {
  color: var(--clr-subtext);
}

.card-single span:first-child {
  color: var(--clr-subtext);
}
.card-header {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-list {
  box-shadow: 0px 2px 5px #dbb78d1f;
  margin: 0;
  padding: 0.75rem 0;
  display: flex;
  justify-content: end;
  align-items: center;
  transition: left 300ms;
}

#nav-toggle {
  display: none;
}

.bars {
  color: var(--clr-sidebar-background);
  cursor: pointer;
}

.nav-item {
  list-style: none;
  margin-right: 2rem;
}

.nav-item a {
  text-decoration: none;
  color: black;
  transition: all 200ms ease-in;
}

.nav-item a:hover {
  color: var(--clr-theme);
}

.nav-item:nth-child(1) {
  margin-right: auto;
  margin-left: 2rem;
}

.info ul,
.info {
  list-style: none;
  font-family: Overpass;
  min-width: 30rem;
}

.info {
  justify-content: center;
}

.btn-primary {
  font-size: 1rem;
  font-family: eloquia;
  background-color: var(--clr-theme);
  border-radius: var(--border-radius);
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 200ms ease-in;
}

.btn-primary:hover {
  background-color: var(--clr-theme-hover);
}
.btn-primary--info {
  background-color: var(--clr-link);
}
.btn-primary--info:hover {
  background-color: var(--clr-link-hover);
  color: white;
}

.nav-item a img:hover {
  filter: transform(90%);
}

.footer-text {
  padding: 0 0.5rem;
}

@font-face {
  font-family: Eloquia;
  src: url(../fonts/eloquia.otf);
}

@font-face {
  font-family: Overpass;
  src: url(../fonts/overpass.ttf);
}

@media only screen and (max-width: 1200px) {
  .sidebar {
    width: 70px;
  }

  .sidebar .sidebar-brand,
  .sidebar li {
    padding-left: 1rem;
    text-align: center;
  }

  .sidebar li a {
    padding-left: 0rem;
  }

  .sidebar .sidebar-brand h2 span:last-child,
  .sidebar li a span:last-child {
    display: none;
  }

  .main-content {
    margin-left: 70px;
  }

  .nav-list {
    width: calc(100%);
    left: 70px;
  }
}

@media only screen and (max-width: 768px) {
  .nav-item a {
    display: none;
  }
}

.chat {
  height: 300px;
  width: 60%;
  background: var(--clr-card-border);
  border-radius: var(--border-radius);
}

.msg-area {
  height: 230px;
  width: 90%;
  background: white;
  margin-inline: auto;
  margin-top: 15px;
  display: flex;
  flex-direction: column-reverse;
  overflow: hidden;
}

.msg {
  margin: 5px;
  padding: 5px 10px;
  border-radius: 20px;
  background: rgb(211, 210, 210);
  margin-left: 10px;
  width: 50%;
}
.input-area {
  height: 70px;
  width: 65%;
  margin-top: 15px;
  margin-left: 5%;
}

.msg.user {
  position: relative;
  background: var(--clr-link);
  margin-left: 48%;
}

.btn-chat {
  width: 10%;
  display: inline;
  position: absolute;
  margin-left: 7px;
  margin-top: -5px;
  height: 35px;
  text-align: center;
}

div#lineChart {
  height: 400px;
  width: 400px;
}
